<!-- robot configuration for navigation stack -->
<launch>
  
  <include file="$(find robot_kinect)/launch/depthimage_to_laserscan.launch" />

  <node 
	pkg="base_odometry" 
	type="base_odometry" 
	name="base_odometry" 
	output="screen">
  </node>

<!--
  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
  </node>
-->

</launch>
