<launch>
  <machine
    name="Pi-on-Robot"
    address="Pi-on-Robot.local"
    env-loader="opt/ros/groovy/env.sh"
    user="pi"
    password="raspberry"
  />
  <!-- Load parameters for base_controller_node -->
  <rosparam
    command="load"
    file="$(find base_controller)/config/md49_defaults.yaml"
  />
  <rosparam
    command="load"
    file="$(find base_controller)/config/serialport_defaults.yaml"
  />

  <!-- Run base_controller_node -->
  <node 
    name="base_controller" 
    pkg="base_controller"   
    type="base_controller"
    required="true"
    machine="Pi-on-Robot"
  />
</launch>
