<launch>
  <machine
    name="robotOS"
    address="robotOS.local"
    env-loader="/opt/ros/groovy/myenv.sh"
    user="robot"
    password="hacker#1977"
  />
  <!-- Load parameters for base_controller_node -->
  <rosparam
    command="load"
    ns="/md49"
    file="$(find base_controller)/config/md49_defaults.yaml"
  />
  <rosparam
    command="load"
    ns="/serialport"
    file="$(find base_controller)/config/serialport_defaults.yaml"
  />

  <!-- Run base_controller_node -->
  <node
    name="setuart2"
    pkg="base_controller"
    type="setuart2"
    required="true"
    output="screen"
    machine="robotOS"
  />
  <node 
    name="base_controller" 
    pkg="base_controller"   
    type="base_controller"
    required="true"
    output="screen"
    machine="robotOS"
  />
</launch>
