<launch>
   
   <rosparam
     command="load"
     ns="/joy_node"
     file="$(find base_controller)/config/joystick_defaults.yaml"
   />

   <node 
     name="joy_node" 
     pkg="joy"   
     type="joy_node"
     required="true"
     output="screen"
   />

   <node
     name="joystick_driver"
     pkg="base_controller"
     type="joystick_driver"
     required="true"
     output="screen"
   />

</launch>
