<launch>
   <!-- Load parameters for joy_node -->
   <rosparam
     command="load"
     ns="/joy_node"
     file="$(find joystick_driver)/config/joystick_defaults.yaml"
   />
   <!-- Run joy_node -->
   <node 
     name="joy_node" 
     pkg="joy"   
     type="joy_node"
     required="true"
     output="screen"
   />
   <!-- Run joystick_driver node -->
   <node
     name="joystick_driver"
     pkg="joystick_driver"
     type="joystick_driver"
     required="true"
     output="screen"
   />
</launch>
