<!-- launches freenect and depthimage_to_laserscan -->
<launch>

	<machine
		name="robotOS"
		address="robotOS.local"
		env-loader="/opt/ros/indigo/myenv.sh"
		user="robot"
		password="hacker#1977"
	/>

	<include file="$(find freenect_launch)/launch/freenect.launch">
		<arg name="rgb_processing"                  value="false" />
		<arg name="ir_processing"                   value="false" />
		<arg name="depth_processing"                value="true" />
		<arg name="depth_registered_processing"     value="false" />
		<arg name="disparity_processing"            value="false" />
		<arg name="disparity_registered_processing" value="false" />
		
	</include>

	<node
		name="depthimage_to_laserscan"
		pkg="depthimage_to_laserscan"
		type="depthimage_to_laserscan"
		args="image:=/camera/depth/image_raw"		
		required="true"
		output="screen"
		machine="robotOS"
   	/>	
</launch>
