<!-- This launchfile starts nodes base_controller remote on robotOS and joy_node + joystick_driver on workstationOS -->
<launch>
  	
	<!-- Run base_controller(remote) and nodes for joystick teleoperation -->
	<include file ="$(find base_controller)/launch/base_controller_remote.launch"/>
	<include file ="$(find robot_teleop)/launch/joystick_driver.launch"/>

</launch>
