<html>
<head>
	<title> newspage.html </title>
	<meta charset="utf-8">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->

	<style>
		body {font-family: Verdana, sans-serif; font-size:0.8em;}
		header, nav, section, article, footer
		{border:1px solid grey; margin:5px; padding:8px;}
		nav ul {margin:0; padding:0;}
		nav ul li {display:inline; margin:5px;}
	</style>
</head>

<body style="background-color:#000000">
	<div class="container" style="width:60%; margin:0 auto;" >
		
		<header style="background-color:#adc2eb">
			<h1 style="text-align:left">Newspage</h1>
		</header>

		<nav style="background-color:#e5f2ff">
			<ul><b>
				<li><a href="http://robotik.ddns.net">Home</a></li>
				<li><a href="http://robotik.ddns.net:8000/Newspage">News</a></li>
				<li><a href="http://robotik.ddns.net/Webtools">Webtools</a></li>
				<li><a href="http://robotik.ddns.net/Projektdokumentation">Projectdocumentation</a></li>
				<li><a href="http://robotik.ddns.net/Sourcecodedokumentation">Sourcecodedocumentation</a></li>
			</ul></b>
		</nav>

		<section  style="background-color:#adc2eb">
		{% for post in posts %}
			<article  style="background-color:#e5f2ff">
				<h2>{{ post.title }}</h2>
				<h3>Posted on {{ post.timestamp }} by {{ post.author }}</h3>
				<p>{{ post.bodytext }}</p>
			</article>
		{% endfor %}
		</section>

		<footer style="background-color:#e5f2ff">
		<p>&copy; Fabian Prinzing. Visit my github @ <a href="https://github.com/scheik">https://github.com/scheik</a></p>
		</footer>

	</div>
</body>
</html>
